[submodule "revit-test-datasets"]
	path = revit-test-datasets
	url = https://github.com/magnetar-io/revit-test-datasets
[submodule "Autodesk/NwLookup"]
	path = Autodesk/NwLookup
	url = https://github.com/awmcc90/NwLookup
[submodule "Autodesk/NwGeoPrimitives"]
	path = Autodesk/NwGeoPrimitives
	url = https://github.com/jeremytammik/NwGeoPrimitives
[submodule "Autodesk/RevitLookup"]
	path = Autodesk/RevitLookup
	url = https://github.com/jeremytammik/RevitLookup
[submodule "Autodesk/ElementOutline"]
	path = Autodesk/ElementOutline
	url = https://github.com/jeremytammik/ElementOutline
[submodule "Autodesk/StairsAutomation"]
	path = Autodesk/StairsAutomation
	url = https://github.com/jeremytammik/StairsAutomation
[submodule "Vimaec/math3d"]
	path = Vimaec/math3d
	url = https://github.com/vimaec/math3d
[submodule "Vimaec/bfast"]
	path = Vimaec/bfast
	url = https://github.com/vimaec/bfast
[submodule "Vimaec/g3d"]
	path = Vimaec/g3d
	url = https://github.com/vimaec/g3d
[submodule "Vimaec/linqarray"]
	path = Vimaec/linqarray
	url = https://github.com/vimaec/linqarray
[submodule "Vimaec/vim"]
	path = Vimaec/vim
	url = https://github.com/vimaec/vim
[submodule "Vimaec/vim-format"]
	path = Vimaec/vim-format
	url = https://github.com/vimaec/vim-format
[submodule "Vimaec/vim-webgl-viewer"]
	path = Vimaec/vim-webgl-viewer
	url = https://github.com/vimaec/vim-webgl-viewer
[submodule "Vimaec/vim-webgl-app"]
	path = Vimaec/vim-webgl-app
	url = https://github.com/vimaec/vim-webgl-app
[submodule "Vimaec/ara3d-dev"]
	path = Vimaec/ara3d-dev
	url = https://github.com/vimaec/ara3d-dev
[submodule "Vimaec/difference-engine"]
	path = Vimaec/difference-engine
	url = https://github.com/vimaec/difference-engine
[submodule "Autodesk/au2019-forge-revit-to-fbx"]
	path = Autodesk/au2019-forge-revit-to-fbx
	url = https://github.com/vimaec/au2019-forge-revit-to-fbx
[submodule "Autodesk/au2019-unity-fbx-bim"]
	path = Autodesk/au2019-unity-fbx-bim
	url = https://github.com/vimaec/au2019-unity-fbx-bim
[submodule "Vimaec/FGeometry"]
	path = Vimaec/FGeometry
	url = https://github.com/vimaec/FGeometry
[submodule "Autodesk/aps-revit-ifc-exporter-appbundle"]
	path = Autodesk/aps-revit-ifc-exporter-appbundle
	url = https://github.com/yiskang/aps-revit-ifc-exporter-appbundle
[submodule "Autodesk/revit-ifc"]
	path = Autodesk/revit-ifc
	url = https://github.com/Autodesk/revit-ifc
[submodule "Autodesk/CreateAndPrintSheetsAndViews"]
	path = Autodesk/CreateAndPrintSheetsAndViews
	url = https://github.com/jeremytammik/CreateAndPrintSheetsAndViews
[submodule "Autodesk/RevitSdkSamples"]
	path = Autodesk/RevitSdkSamples
	url = https://github.com/jeremytammik/RevitSdkSamples
[submodule "Autodesk/the_building_coder_samples"]
	path = Autodesk/the_building_coder_samples
	url = https://github.com/jeremytammik/the_building_coder_samples
[submodule "Autodesk/DirectObjLoader"]
	path = Autodesk/DirectObjLoader
	url = https://github.com/jeremytammik/DirectObjLoader
[submodule "CSharp/sharpgl"]
	path = CSharp/3D/sharpgl
	url = https://github.com/dwmkerr/sharpgl
[submodule "CSharp/geometry3Sharp"]
	path = CSharp/Geometry/geometry3Sharp
	url = https://github.com/gradientspace/geometry3Sharp
[submodule "CSharp/Unity.Mathematics"]
	path = CSharp/Math/Unity.Mathematics
	url = https://github.com/Unity-Technologies/Unity.Mathematics
[submodule "CSharp/SVG"]
	path = CSharp/2D/SVG
	url = https://github.com/svg-net/SVG
[submodule "CSharp/NGraphics"]
	path = CSharp/3D/NGraphics
	url = https://github.com/praeclarum/NGraphics
[submodule "CSharp/SdfKit"]
	path = CSharp/3D/SdfKit
	url = https://github.com/praeclarum/SdfKit
[submodule "CSharp/stride"]
	path = CSharp/Game/stride
	url = https://github.com/stride3d/stride
[submodule "CSharp/mathnet-numerics"]
	path = CSharp/Math/mathnet-numerics
	url = https://github.com/mathnet/mathnet-numerics
[submodule "CSharp/Csg"]
	path = CSharp/Geometry/Csg
	url = https://github.com/praeclarum/Csg
[submodule "CSharp/MonoGame"]
	path = CSharp/Game/MonoGame
	url = https://github.com/MonoGame/MonoGame
[submodule "CDiggins/parakeet"]
	path = CDiggins/parakeet
	url = https://github.com/cdiggins/parakeet
[submodule "CDiggins/Algorithms"]
	path = CDiggins/Algorithms
	url = https://github.com/cdiggins/Algorithms
[submodule "CDiggins/plato"]
	path = CDiggins/plato
	url = https://github.com/cdiggins/plato
[submodule "CDiggins/heron-language"]
	path = CDiggins/heron-language
	url = https://github.com/cdiggins/heron-language
[submodule "CDiggins/type-inference"]
	path = CDiggins/type-inference
	url = https://github.com/cdiggins/type-inference
[submodule "CDiggins/svg-editor"]
	path = CDiggins/svg-editor
	url = https://github.com/cdiggins/svg-editor
[submodule "CDiggins/Plato.Collections"]
	path = CDiggins/Plato.Collections
	url = https://github.com/cdiggins/Plato.Collections
[submodule "CDiggins/ptarmigan"]
	path = CDiggins/ptarmigan
	url = https://github.com/cdiggins/ptarmigan
[submodule "CDiggins/cs321"]
	path = CDiggins/cs321
	url = https://github.com/cdiggins/cs321
[submodule "CDiggins/SVG-Forked"]
	path = CDiggins/SVG-Forked
	url = https://github.com/cdiggins/SVG-Forked
[submodule "CDiggins/Plato.Math"]
	path = CDiggins/Plato.Math
	url = https://github.com/cdiggins/Plato.Math
[submodule "CDiggins/myna-parser"]
	path = CDiggins/myna-parser
	url = https://github.com/cdiggins/myna-parser
[submodule "CDiggins/cdiggins.github.io"]
	path = CDiggins/cdiggins.github.io
	url = https://github.com/cdiggins/cdiggins.github.io
[submodule "CDiggins/plato-geometry-toolkit"]
	path = CDiggins/plato-geometry-toolkit
	url = https://github.com/cdiggins/plato-geometry-toolkit
[submodule "CDiggins/learning-to-code"]
	path = CDiggins/learning-to-code
	url = https://github.com/cdiggins/learning-to-code
[submodule "CDiggins/Platonic.CSharp"]
	path = CDiggins/Platonic.CSharp
	url = https://github.com/cdiggins/Platonic.CSharp
[submodule "CDiggins/domo"]
	path = CDiggins/domo
	url = https://github.com/cdiggins/domo
[submodule "CDiggins/g3d"]
	path = CDiggins/g3d
	url = https://github.com/cdiggins/g3d
[submodule "CDiggins/peacock"]
	path = CDiggins/peacock
	url = https://github.com/cdiggins/peacock
[submodule "CDiggins/widgetology"]
	path = CDiggins/widgetology
	url = https://github.com/cdiggins/widgetology
[submodule "CDiggins/cat-language"]
	path = CDiggins/cat-language
	url = https://github.com/cdiggins/cat-language
[submodule "CDiggins/exaltation"]
	path = CDiggins/exaltation
	url = https://github.com/cdiggins/exaltation
[submodule "CSharp/Clipper2"]
	path = CSharp/Geometry/Clipper2
	url = https://github.com/AngusJohnson/Clipper2
[submodule "CSharp/ColorHelper"]
	path = CSharp/Color/ColorHelper
	url = https://github.com/iamartyom/ColorHelper
[submodule "CSharp/Colourful"]
	path = CSharp/Color/Colourful
	url = https://github.com/tompazourek/Colourful
[submodule "CSharp/Computational-geometry"]
	path = CSharp/Geometry/Computational-geometry
	url = https://github.com/Habrador/Computational-geometry
[submodule "CSharp/CyclonePhysicsEngine"]
	path = CSharp/Physics/CyclonePhysicsEngine
	url = https://github.com/Scrawk/CyclonePhysicsEngine
[submodule "CSharp/FastNoiseLite"]
	path = CSharp/Math/FastNoiseLite
	url = https://github.com/Auburn/FastNoiseLite
[submodule "CSharp/Elements"]
	path = CSharp/3D/Elements
	url = https://github.com/hypar-io/Elements
[submodule "CSharp/G-Shark"]
	path = CSharp/Geometry/G-Shark
	url = https://github.com/GSharker/G-Shark
[submodule "CSharp/GeometRi.CSharp"]
	path = CSharp/Geometry/GeometRi.CSharp
	url = https://github.com/RiSearcher/GeometRi.CSharp
[submodule "CSharp/Hull-Delaunay-Voronoi"]
	path = CSharp/Geometry/Hull-Delaunay-Voronoi
	url = https://github.com/Scrawk/Hull-Delaunay-Voronoi
[submodule "CSharp/LearnOpenTK"]
	path = CSharp/3D/LearnOpenTK
	url = https://github.com/opentk/LearnOpenTK
[submodule "CSharp/LibTessDotNet"]
	path = CSharp/Geometry/LibTessDotNet
	url = https://github.com/speps/LibTessDotNet
[submodule "CSharp/MIConvexHull"]
	path = CSharp/Geometry/MIConvexHull
	url = https://github.com/DesignEngrLab/MIConvexHull
[submodule "CSharp/MathUtilities"]
	path = CSharp/Math/MathUtilities
	url = https://github.com/zalo/MathUtilities
[submodule "CSharp/ImageSharp"]
	path = CSharp/Images/ImageSharp
	url = https://github.com/SixLabors/ImageSharp
[submodule "CSharp/NAudio"]
	path = CSharp/Audio/NAudio
	url = https://github.com/naudio/NAudio
[submodule "CSharp/NetTopologySuite"]
	path = CSharp/GIS/NetTopologySuite
	url = https://github.com/NetTopologySuite/NetTopologySuite
[submodule "JavaScript/OpenJSCAD.org"]
	path = JavaScript/OpenJSCAD.org
	url = https://github.com/jscad/OpenJSCAD.org
[submodule "CSharp/PhotoSauce"]
	path = CSharp/Images/PhotoSauce
	url = https://github.com/saucecontrol/PhotoSauce
[submodule "CSharp/SharpGLTF"]
	path = CSharp/Formats/SharpGLTF
	url = https://github.com/vpenades/SharpGLTF
[submodule "CSharp/SharpMap"]
	path = CSharp/GIS/SharpMap
	url = https://github.com/SharpMap/SharpMap
[submodule "CSharp/bepuphysics2"]
	path = CSharp/Physics/bepuphysics2
	url = https://github.com/bepu/bepuphysics2
[submodule "CSharp/core"]
	path = CSharp/GIS/core
	url = https://github.com/OsmSharp/core
[submodule "CSharp/Silk.NET"]
	path = CSharp/3D/Silk.NET
	url = https://github.com/dotnet/Silk.NET
[submodule "CSharp/cscore"]
	path = CSharp/Audio/cscore
	url = https://github.com/filoe/cscore
[submodule "CSharp/glTF-CSharp-Loader"]
	path = CSharp/Formats/glTF-CSharp-Loader
	url = https://github.com/KhronosGroup/glTF-CSharp-Loader
[submodule "CSharp/jitterphysics"]
	path = CSharp/Physics/jitterphysics
	url = https://github.com/notgiven688/jitterphysics
[submodule "CSharp/helix-toolkit"]
	path = CSharp/3D/helix-toolkit
	url = https://github.com/helix-toolkit/helix-toolkit
[submodule "CSharp/mathnet-spatial"]
	path = CSharp/Math/mathnet-spatial
	url = https://github.com/mathnet/mathnet-spatial
[submodule "CSharp/mathnet-symbolics"]
	path = CSharp/Math/mathnet-symbolics
	url = https://github.com/mathnet/mathnet-symbolics
[submodule "CSharp/mathnet-filtering"]
	path = CSharp/Math/mathnet-filtering
	url = https://github.com/mathnet/mathnet-filtering
[submodule "CSharp/RayTracers/veldrid-raytracer"]
	path = CSharp/RayTracers/veldrid-raytracer
	url = https://github.com/mellinoe/veldrid-raytracer
[submodule "CSharp/RayTracers/rt"]
	path = CSharp/RayTracers/rt
	url = https://github.com/praeclarum/rt
[submodule "CSharp/RayTracers/cs-smallpt"]
	path = CSharp/RayTracers/cs-smallpt
	url = https://github.com/matt77hias/cs-smallpt
